<div id="history-page">
    <div class="container history-list">
        <div class="history-list-label">
            <i class="fa fa-history" aria-hidden="true"></i>
            Lịch sử đọc truyện
        </div>
        <div class="row history-list-comic">
            <div id="no-comic-in-history" class="col-12 col-lg-12 col-xl-12">
            </div>
            {{#if (compareIntEqual historyComic 0)}}
            <div id="no-comic-in-history" class="col-12 col-lg-12 col-xl-12">
                <span>Không có lịch sử đọc truyện!</span>
            </div>
            {{else}}
            {{#each historyComic}}
            <div id="{{this.slug}}" class="col-6 col-lg-2 col-xl-2 ">
                <div class="comic-item">
                    <a href="comic/{{this.slug}}">
                        <img src="{{this.urlImage}}" alt="" class="comic-item-image">
                    </a>
                    <a href="comic/{{this.slug}}" class="comic-item-name">
                        {{this.name}}
                    </a>
                    <button onclick="deleteComicInList(`{{this.slug}}`)" class="btn btn-danger btn-danger-modified">Xóa</button>
                </div>
            </div>
            {{/each}}
            {{/if}}
        </div>
    </div>
</div>

<script src="./js/historyHandle.js"></script>