<div class="container">
    <div class="row">
        <div class="container mt-4 col-12 col-lg-12 col-xl-12">
            <ul class="breadcrumb">
                <li id="breadcrumb-item-home" class="breadcrumb-item" style="margin-left: -20px;">
                    <a href="/">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Home
                    </a>
                    <div class="triangle"></div>
                </li>
                <li id="breadcrumb-item-list" class="breadcrumb-item d-none d-sm-block d-lg-block">
                    <a href="/list-comic">
                        Danh sách truyện
                    </a>
                    <div class="triangle"></div>
                </li>
                <li id="breadcrumb-item-comic" class="breadcrumb-item d-none d-sm-block d-lg-block">
                    <a id="breadcrumb-name-comic" href="/comic/{{chapter.slugComic}}">{{chapter.slugComic}}</a>
                    <div class="triangle"></div>
                </li>
                <li id="breadcrumb-item-chapter" class="breadcrumb-item breadcrumb-item-active">
                    <a id="breadcrumb-name-chapter" href="#">{{chapter.name}}</a>
                    <div class="triangle"></div>
                </li>
            </ul>
        </div>

        <div class="navigation-scroll-up-modified col-12 col-lg-12 col-xl-12">
            <div class="row">
                <a href="/comic/{{chapter.slugComic}}/{{chapter.preChapter}}" class="col-3 navigation-scroll-up-item">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
                <a href="/" class="col-3 navigation-scroll-up-item">
                    <i class="fas fa-home    "></i>
                </a>
                <div onclick="showListChapter(`list-chapter-left-layer`)" id="list-chapter-left-list-main" class="col-3 navigation-scroll-up-item">
                    <i class="fas fa-list    "></i>
                </div>
                <a href="/comic/{{chapter.slugComic}}/{{chapter.nextChapter}}" class="col-3 navigation-scroll-up-item">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <div class="col-12 col-lg-12 col-xl-12">
            <div id="chapter-comic-image">
                {{#each listImageChapter}}
                    <img src="{{this}}" alt="">
                {{/each}}
            </div>
        </div>

        <div class="navigation navigation-scroll-up col-12 col-lg-12 col-xl-12">
            <div class="row">
                <a href="/comic/{{chapter.slugComic}}/{{chapter.preChapter}}" class="col-3 navigation-scroll-up-item">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
                <a href="/" class="col-3 navigation-scroll-up-item">
                    <i class="fas fa-home    "></i>
                </a>
                <div onclick="showListChapter(`list-chapter-left-layer`)" id="list-chapter-left-list-extra" class="col-3 navigation-scroll-up-item">
                    <i class="fas fa-list    "></i>
                </div>
                <a href="/comic/{{chapter.slugComic}}/{{chapter.nextChapter}}" class="col-3 navigation-scroll-up-item">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div id="list-chapter-left-layer">
            <ul id="list-chapter-left">
                <div class="row list-chapter-left-comic">
                    <a href="/comic/{{comic.slug}}" class="col-4">
                        <img src="{{comic.urlImage}}" alt="">
                    </a>
                    <a href="/comic/{{comic.slug}}" class="col-8">
                        <span>{{comic.name}}</span>
                    </a>
                </div>
                {{#each listChapters}}
                    <a id="{{this.slugChapter}}" href="/comic/{{this.slugComic}}/{{this.slugChapter}}" class="list-chapter-left-chapter">{{this.name}}</a>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<script>
    (function activeChapterIsReading() {
        let getSlugFromCurUrl = Url => new URL(Url).pathname.match(/[^\/]+/g)

        var slugChapter = getSlugFromCurUrl(window.location.href)
        slugChapter = slugChapter[slugChapter.length - 1]
        document.getElementById(`${slugChapter}`).classList.add('chapter-active')
    })()

    var listChapterLeftLayer = document.getElementById('list-chapter-left-layer')
    var listChapterLeft = document.getElementById('list-chapter-left')
    var listChapterMain = document.getElementById('list-chapter-left-list-main')
    var listChapterExtra = document.getElementById('list-chapter-left-list-extra')
    document.addEventListener("click", function(event) {
        if(!listChapterLeft.contains(event.target)) {
            listChapterLeftLayer.style.display = 'none'
        }
        if(listChapterMain.contains(event.target) || listChapterExtra.contains(event.target)) {
            listChapterLeftLayer.style.display = 'block'
        }
    })

    function countViewPage() {
        let slug = url => new URL(url).pathname.match(/[^\/]+/g)
        var slugNameComic = `countViewPageComic-${slug(window.location.href)[1]}`

        // lứu ý thằng key= chỉ nhận tối đa 64 ký tự 
        if(slugNameComic.length > 64) {
            slugNameComic = slugNameComic.substring(0, 63)
        }

        fetch(`https://api.countapi.xyz/update/laptop/${slugNameComic}/?amount=1`)
            .then((res) => res.json())
            .then((res) => {
                if(res.value == null) {
                    fetch(`https://api.countapi.xyz/create?namespace=laptop&key=${slugNameComic}&value=0`)
                        .then((res), countViewPage())
                }
            })
    }
    countViewPage()

    var lastPosition = 0
    window.addEventListener("scroll", () => {
        var curPosition = window.pageYOffset || document.documentElement.scrollTop

        if(curPosition >= lastPosition || curPosition < 200) {
            document.querySelector('.navigation-scroll-up').style.opacity = '0'
        } else {
            document.querySelector('.navigation-scroll-up').style.opacity = '1'
        }
        lastPosition = curPosition <= 0 ? 0 : curPosition
    })

    count = 0
    function showListChapter(idTag) {
        count = count + 1
        if(count % 2 == 0)
        {
            document.getElementById(`${idTag}`).style.display = 'none'
        }else {
            document.getElementById(`${idTag}`).style.display = 'block'
        }
    }

</script>