<div class="container">
    <div class="row">
        <div class="container mt-4 col-12 col-lg-12 col-xl-12">
            <ul class="breadcrumb">
                <li id="breadcrumb-item-home" class="breadcrumb-item" style="margin-left: -20px;">
                    <a href="/">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Home
                    </a>
                    <div class="triangle"></div>
                </li>
                <li id="breadcrumb-item-list" class="breadcrumb-item d-none d-sm-block d-lg-block">
                    <a href="/list-comic">
                        Danh sách truyện
                    </a>
                    <div class="triangle"></div>
                </li>
                <li id="breadcrumb-item-comic" class="breadcrumb-item d-none d-sm-block d-lg-block">
                    <a id="breadcrumb-name-comic" href="/comic/{{chapter.slugComic}}">{{chapter.slugComic}}</a>
                    <div class="triangle"></div>
                </li>
                <li id="breadcrumb-item-chapter" class="breadcrumb-item breadcrumb-item-active">
                    <a id="breadcrumb-name-chapter" href="#">{{chapter.name}}</a>
                    <div class="triangle"></div>
                </li>
            </ul>
        </div>

        <div class="navigation-scroll-up-modified col-12 col-lg-12 col-xl-12">
            <div class="row">
                <a href="/comic/{{chapter.slugComic}}/{{chapter.preChapter}}" class="col-3 navigation-scroll-up-item">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
                <a href="/" class="col-3 navigation-scroll-up-item">
                    <i class="fas fa-home    "></i>
                </a>
                <div onclick="showListChapter(`list-chapter-left-layer`)" id="list-chapter-left-list-main" class="col-3 navigation-scroll-up-item">
                    <i class="fas fa-list    "></i>
                </div>
                <a href="/comic/{{chapter.slugComic}}/{{chapter.nextChapter}}" class="col-3 navigation-scroll-up-item">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <div class="col-12 col-lg-12 col-xl-12">
            <div id="chapter-comic-image">
                {{#each listImageChapter}}
                    <img src="{{this}}" alt="">
                {{/each}}
            </div>
        </div>

        <div class="navigation navigation-scroll-up col-12 col-lg-12 col-xl-12">
            <div class="row">
                <a href="/comic/{{chapter.slugComic}}/{{chapter.preChapter}}" class="col-3 navigation-scroll-up-item">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
                <a href="/" class="col-3 navigation-scroll-up-item">
                    <i class="fas fa-home    "></i>
                </a>
                <div onclick="showListChapter(`list-chapter-left-layer`)" id="list-chapter-left-list-extra" class="col-3 navigation-scroll-up-item">
                    <i class="fas fa-list    "></i>
                </div>
                <a href="/comic/{{chapter.slugComic}}/{{chapter.nextChapter}}" class="col-3 navigation-scroll-up-item">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div id="list-chapter-left-layer">
            <ul id="list-chapter-left">
                <div class="row list-chapter-left-comic">
                    <a href="/comic/{{comic.slug}}" class="col-4">
                        <img src="{{comic.urlImage}}" alt="">
                    </a>
                    <a href="/comic/{{comic.slug}}" class="col-8">
                        <span>{{comic.name}}</span>
                    </a>
                </div>
                {{#each listChapters}}
                    <a id="{{this.slugChapter}}" href="/comic/{{this.slugComic}}/{{this.slugChapter}}" class="list-chapter-left-chapter">{{this.name}}</a>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<script src="./js/showChapterHandle.js"></script>