<div class="library-comic">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="background-color: #ccc; border-right: 0.5px solid black;">Danh sách truyện yêu thích</th>
            </tr>
        </thead>
        <tbody>
            {{#each (limit comics 9)}}
            <tr id="comics-{{sum @index 1}}" class="row">
                <td class="col-2" style="border-right: 0.5px solid black;">
                    <img style="display: block; width: 100%; height: 300px; object-fit: cover;" src="{{this.urlImage}}" alt="">
                </td>
                <td class="col-6" style="border-right: 0.5px solid black;">{{this.name}}</td>
                <td class="col-4">
                    <button onclick="delComic(`{{this.slug}}`, `{{@index}}`)" class="btn btn-danger btn-link">Xóa</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="pagination-list-comic col-12 col-lg-12 col-xl-12">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        {{#each (listNumerForPagination lengthListComics 9)}}
        <li id="page-{{this}}" class="page-item"><a class="page-link" href="?page={{this}}">{{this}}</a></li>
        {{/each}}
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div>

<form name="update-comic-form" method="POST" action=""></form>

<script src="./js/libraryHandle.js"></script>